<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/fox.jpg" alt="haqFox" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">haqFox</h1>
            <p class="lead">programmer wanna be</p>
        </div>
    </div>
</div>