<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Daftar Contact</h2>

      <a href="/contact/add" class="btn btn-primary mb-2">Tambah Data</a>

      <% if (msg.length !== 0) { %>
        <div class="alert alert-success" role="alert">
          <%= msg %>
        </div>
      <% } %>


      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nama</th>
            <th scope="col">Email</th>
            <th scope="col">Nomor HP</th>
            <th scope="col">Detail</th>
          </tr>
        </thead>
        <tbody>
          <!-- dibuat seperti ini karena array selalu ada meskipun isinya kosong -->
          <% if (contacts.length === 0) { %>
            <tr>
              <td colspan="4">
                <div class="alert alert-primary fw-bold" role="alert">
                  Data <i>Contact</i> masih kosong.
                </div>
              </td>
            </tr>
          <% } %>
          <% let no = 1; %> 
          <% contacts.forEach(contact => { %>
            <tr>
              <th scope="row"><%= no++ %> </th>
              <td><%= contact.nama %> </td>
              <td><%= contact.email %> </td>
              <td><%= contact.nomor %> </td>
              <td><a href="/contact/<%= contact.nama %> " class="btn btn-primary badge rounded-pill"><i class="bi bi-info-circle"></i> detail</a></td>
            </tr>
          <% }) %>  
        </tbody>
      </table>
    </div>
  </div>
</div>