<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <h2>Detail Contact</h2>
            <% if (!contact) { %>
                <div class="alert alert-danger fw-bold" role="alert">
                    Data <i>Contact</i> tidak ada. 
                    <br>
                    <a href="/contact" class="alert-link fw-normal">&laquo; Kembali</a>.
                </div>
            <% } else { %>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= contact.nama %> </h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= contact.nomor %> </h6>
                  <p class="card-text"><%= contact.email %> </p>
                  <a href="/contact/edit/<%= contact.nama %>" class="btn btn-warning badge" >Ubah</a>
                  <a href="/contact/delete/<%= contact.nama %>" class="btn btn-danger badge" onclick="return confirm('Anda ingin menghapus contact ini?');">Hapus</a>
                  <a href="/contact" class="card-link d-block mt-3">&laquo; Kembali</a>                
                </div>
            </div>     
            <% } %>      
        </div>
    </div>
</div>