<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">
            <h2>Form Ubah Data</h2>
            <% if (typeof errors != 'undefined') { %>
              <div class="alert alert-danger" role="alert">
                <ul>
                  <% errors.forEach(error=> { %>
                    <li><%= error.msg %> </li>
                  <% }) %>
                </ul>
              </div>
            <% } %>
            <form method="post" action="/contact/update">
                <input type="hidden" name="oldNama" value="<%= contact.oldNama || contact.nama %>">
                <div class="mb-3">
                  <label for="nama" class="form-label">Nama</label>
                  <input type="text" class="form-control" id="nama" name="nama" required value="<%= contact.nama %> ">
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name="email" required value="<%= contact.email %> ">
                </div>
                <div class="mb-3">
                  <label for="nomor" class="form-label">Nomor HP</label>
                  <input type="text" class="form-control" id="nomor" name="nomor" required value="<%= contact.nomor %> ">
                </div>
                <button type="submit" class="btn btn-primary">Ubah Data</button>
              </form>
        </div>
    </div>
</div>