<h1>Web Server NodeJS</h1>
<h2>halo <%= nama %></h2>
<h4>Daftar Mahasiswa</h4>
<!-- length = jumlah isi array -->
<% if (mahasiswa.length < 1) { %>
    <p>Data mahasiswa masih kosong.</p>
<% } else { %> 
    <% mahasiswa.forEach(mhs => { %>
    <ul>
        <li>Nama : <%= mhs.nama %> </li>
        <li>Email : <%= mhs.email%> </li>
    </ul>  
    <% }) %>
<% } %>
            